* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F6F6F6;
}

.product-week__title,
.product-card__btn-product-card,
.product-card__tag {
    text-transform: uppercase;
}

.description-product__specification-product,
.description-product__title-product-card {
    color: #2f2f2f;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.product-week {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-week__title {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    margin: 40px 0;
}

.product-week__wrapper-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card {
    background-color: #ffffff;
    width: 380px;
    min-height: 482px;
    border-radius: 12px;
    box-shadow: 0px 0px 45px -4px #0000002E;
}

.product-card__image-wrapper {
    position: relative;
}

.product-card__image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}

.product-card-tags {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 16px;
    left: 16px;
    gap: 16px;
}

.product-card__tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 16px;
    border-radius: 8px;

}

.product-card__tag-new {
    background-color: #FDCFF3;
}

.product-card__tag-last {
    background-color: #FFCF56;
}

.description-product {
    min-height: 220.25px;;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.description-product__title-product-card {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 16px;
}

.description-product__specification-product {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: scroll;
}

.product-card__btn-product-card {
    display: block;
    margin-top: auto;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    border: 2px solid;
    transition: 0.3s all;
    margin: auto auto 0;
}

.btn-product-card_active {
    border-color: #42940F;
    color: #42940F;
    cursor: pointer;
    background-color: inherit;
}

.btn-product-card_active:hover {
    color: #fff;
    background-color: #42940F;
}

.btn-product-card_active:active {
    border-color: #1F5200;
    color: #fff;
    background-color: #1F5200;
}

.btn-product-card_disabled {
    border-color: #4E4E4E;
    color: #fff;
    background-color: #4E4E4E;
}

@media (max-width: 1180px) {
    .container {
        width: 100%
    }

    .product-week__wrapper-cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }
}

@media (max-width: 500px) {
    .product-week__title {
        font-size: 32px;
        line-height: 52px;
        padding: 0 12px;
    }

    .product-card {
        width: 310px;
    }

    .wrapper__card-content {
        padding: 12px;
        min-height: 194.25px;
    }

    .description-product__title-product-card {
        font-size: 18px;
        margin-bottom: 0;
    }

    .description-product__specification-product {
        padding: 12px 2px;
    }
}